/*
    Estilos css, para la guia y el formulario de generación.
*/

/*
    Establecemos el html que ocupe el 100% tanto del width y height.
*/
html
{
    width: 100%;
    height: 100%;
}

/*
    Lo ponemos como grid, y le damos un margin de 0 para que no hayan bordes blancos por el html, también le damos una 
    altura minima de 100% del html.
*/
body
{
    margin: 0;
    display: grid;
    grid-template-areas: 
		"header header header header header header header header header header"
        " main main main main main main main main main aside"
        " main main main main main main main main main aside"
        " main main main main main main main main main aside"
        " main main main main main main main main main aside"
        " main main main main main main main main main aside"
        " main main main main main main main main main aside"        
        " main main main main main main main main main aside"
        " main main main main main main main main main aside"
        " main main main main main main main main main aside"
        " main main main main main main main main main aside"
        " main main main main main main main main main aside"
        "footer footer footer footer footer footer footer footer footer footer"
    ;
    grid-template-rows: auto 100% auto;
    min-height: 100%;
    grid-gap: 0.1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header
{
    grid-area: header;
    background-color: rgb(203, 255, 118);
}

h1,h2
{
    margin: 0.2em;
    height: min-content;
}


/* 
    Establece header, main, aside y footer como un flex dentro del grid del body.
*/
header, main, aside, footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main
{
    grid-area: main;
    background-color: aqua;
}

aside
{

    grid-area: aside;
    background-color: palegoldenrod;
}

aside img
{
    width: 10em;
    height: 10em;
}
aside img:hover
{
    transform: rotate(1.1);
}
aside p
{
    width: 50%;
}

footer
{
    grid-area: footer;
    background-color: rgb(203, 255, 118);
    padding: 1em;
}

table
{
    border: 0.3em solid black;
    margin: 0;
}


td, th
{
    border: 0.3em solid black;
}




/*
    Este estilo sirve para el div que rompe la fila y hace que se vaya a la siguiente linea lo proximo
*/
.break
{
    flex-basis: 100%;
    height: 0;
}


/*
    Empieza el css para hacer el menu y sus animaciones.
*/

#menu li
{
    background-color: palegreen;
    box-shadow: 1em 0.2em 0.2em black;
    padding: 1em;
    transition: 2s;
    border: 0.1em solid black;
}

#menu li:hover
{
    background-color: rgb(10, 165, 255);
    box-shadow: 1em 0.2em 0.2em whitesmoke;
    transform: scale(1.2);

}

#submenu li
{
    background-color: palegreen;
    padding: 0.5em;
}

li
{
    list-style-type: none;
}

#submenu
{
    position: absolute;
    opacity: 0%;
    transition: 2s;
}

#menu li:hover #submenu
{
    opacity: 100%;
}
/*
    Termina el css para hacer el menu y sus animaciones.
*/
a
{
    text-decoration: none;
    color: black;
}

form,table, aside p
{
    margin-bottom: 25em;
}



textarea
{
    height: 2em;
}
