/* Color de fondo para todo el html */
html
{
    background-color: #4FC0D0;
}
/* Body con 0 de margin */
body
{
	margin: 0;
}
/* h1 centrado, con color whitesmoke y sombras verdes */
h1
{
    text-align: center;
    color: whitesmoke;
    text-shadow: green 0.1em 0.1em 0.1em;
}

/* Estilo del menu  flex. */
nav
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
}

/* Estilo para las cajas del menu. */
.caja
{
    background-color: #FFC436;
    padding: 5%;
    border: 0.3em solid black;
    transition: 0.1s;
}
/* Estilo para las cajas del menu al ser tocadas por el raton. */
.caja:hover
{
    transform: scale(1.05);
}

/* Estilo para todas las imagenes. */
img{
    border: 1em solid black;
    width: 42.5em;
    transition: 0.1s;
}

/* Estilo para las imagenes al ser tocadas por el raton. */
img:hover
{
    transform: scale(1.05);
    cursor: pointer;
}
/* Estilo flex para el main */
main
{
    display: flex;
    justify-content: center;
}
/* Estilo flex para la section con un margin para arriba de 5em*/
section
{
	margin-top: 5em;
	display: flex;
}

/* Estilo quienes somos */
#quienes_somos
{
	flex-grow: 4;
}
/* Mapa con un 10% del ancho */
#mapa
{
	width: 10%;
}

/* Adaptacion a los telefonos */
@media screen and (max-width: 768px) {
	section{
		display: flex;
		flex-wrap: wrap;
	}
}

/* Iframe del mapa con un margin de 10px a la derecha */
iframe
{
	margin-right: 10px;
}

/* Estilo de la p de quienes somos */
#quienes_somos p
{
	text-align: justify;
	text-justify: inter-word;
	width: 80%;
	margin-left: 2%;
}

/* Estilo flex de reservas */
#reservas
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
        
}

/* Estilo de los productos, son las cajas de dentro de las reservas. */
.producto
{
    background-color: #FFC436;
    border: 0.3em solid black;
    transition: 0.1s;
}


/* Estilo de los productos al ser tocados por el raton, son las cajas de dentro de las reservas. */
.producto:hover
{
    transform: scale(1.05);
}


/* Estilo de las imagenes en los productos, son las cajas de dentro de las reservas. */
.producto img
{
	height: 25em;
	width: 25em;
}
/* Rompe la linea para un salto */
.break
{
	flex-basis: 100%;
}
/* Estilo flex de redes dentro del footer*/
#redes
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; 
}

/* Imagenes de las redes del footer */
.red img
{
	height: 5em;
	width: 5em;
	border: 0 !important;
	float: left;
}
