*{
    margin: 0;
}

html
{
    background-color: lightyellow;
    height: 100%;
}

header{
    background-color: tomato;
    margin: 0;
    height: 274.817px !important;
}

h1{
    text-align: left;
    width: 50%;
}


.dawimg, .arturimg
{
    width: 15%;
    align-items: center;
    float: right;

}
.cssimg
{
    width: 5% !important;
    margin-left: 47.6%;
    float: right;

}
.arturimg{
    border: 5px solid black;
}


ul.menu, ul.submenu{
    position: absolute;
    list-style-type: none;
    margin: 0;
    width:auto;
    right: 0;
    display: block;
    background-color: red;
    padding: 0;
}
.submenu li{
    background-color: lightblue;
}


li:hover .submenu li{
    display: block;
}
@keyframes abrirmenu
{
    0%{
        opacity: 0%;
    }


    100%{
        opacity: 100%;
    }
}

.submenu li{
    animation: abrirmenu;
    animation-duration: 2s;
    float: left;
    width: auto;
    margin: 5px;
    display: none;

}


#patio
{
    text-align: center;
    color: aqua;
}


.M1
{
    background-color: rgba(55,53,30,0.6);
}

.M2
{
    background-color: rgba(59,162,169,0.6);
}

.M3
{
    background-color: rgba(188,245,8,0.6);
}

.M4
{
    background-color: rgba(254,93,162,0.6);
}

.M5
{
    background-color: rgba(33,143,45,0.6);
}

.M8
{
    background-color: rgba(9,203,153,0.6);
}

.M10
{
    background-color: rgba(110,176,84,0.6);
}

.M11
{
    background-color: rgba(166,251,49,0.6);
}

.M14
{
    background-color: rgba(206,162,2,0.6);
}

.nada
{
    background-color: red;
}

.tut
{
    background-color: rgba(81,135,57,0.6);
}

.hora
{
    background-color: lightblue;
}

#pnaranja
{
    color: orange;
}
.prosa{
    color: pink;
}

.frases
{
    
    width: 35%;
    border-radius: 55px;
    padding: 25px;
    background-color: whitesmoke;
}

fieldset
{
    width: 250px;
    float: left;
    height: 340px;
}

#login
{
    margin-right: 100%;
}