body {
font-family: Arial, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
gap: 20px;
}
.box {
width: 150px;
height: 150px;
background-color: lightblue;
text-align: center;
line-height: 150px;
}

#box1 {
	padding: 20px;
} 

#box2 {
border: 10px solid red;
}
#box3 {
margin: 30px;
}
