/* estilo html para ancho de 100% y altura de 100%, el color de fondo sera verde claro*/
html
{
	width: 100%;
	height: 100%;
	background: lightgreen;
}
/* Estilo grid para el body, también se aclara que tendra un margin de 0 para ocuparlo todo y se aclaran los 
 * areas*/
body
{
	min-height: 100%;
	margin: 0;
	display: grid;
	grid-template-areas:
		"header header header header header header header"
		"main main main main main main aside"
		"footer footer footer footer footer footer footer";
	grid-gap: 1em;
	grid-template-rows: auto 100% auto;	
}
/* Estilo de la lista flex */
ul
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* Estilo de las listas */
li
{
	background-color: gold;
	box-shadow: 0.2em 0.2em 0.2em black;
	list-style-type: none;
	margin-left: 0.2em;
}
/* Estilo de los links en la lista */
li a:link
{
	text-decoration: none;
	color: black;
}
/* Estilo de la lista al ser tocados por el raton en la lista */
li:hover
{
	background-color: black;
	box-shadow: 0.2em 0.2em 0.2em gold;
	transform: scale(1.1);
}
/* estilo del link al ser tocada la lista por el raton */
li:hover a
{
	color: red;

}

/* Cambiar el link visitado a color negro para que siempre sea negro. */
a:visited
{
	color: black;
}
/* Aclara el area de header para grid y le asgina un color de fondo*/
header
{
	background-color: #03C04A;
	grid-area: header;
}
/* Estilo centrado para h1, h2 y p*/
h1,h2,p
{
	text-align: center;
}

/* Aclara el area de main y le da altura a 100%, también lo vuelve flex y le da color gris de fondo */
main{
	grid-area: main;
	height: 100%;
	background-color: grey;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* las p del main tendran este estilo de ancho 35em*/
main p
{
	width: 35em;
}
/* La imagen del main tendra este borde */
main img{
	border: 0.4em solid black;
}
/* Romper una linea para hacer un salto */
.break
{
	flex-basis: 100%;
	height:0;
}

/* Le aclara el area al aside y le vuelve color gris */
aside
{
	grid-area: aside;
	background-color: grey;
}

/* Estilo para las cajas del aside que representan las otras noticias. */
.cajas
{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
/* Estilo de las imagenes de las cajas a 4em*/
.caja img
{
	width: 4em;
}
/* Estilo para cada caja */
.caja
{
	margin-top: 2em;
	background-color: red;
	width: min-content;	
}

/*Estilo de la caja p*/
.caja p 
{
	text-overflow: ellipsis;
}

/*Estilo del footer, le aclara que su area sera de footer y le da un fondo de color*/
footer
{
	grid-area: footer;
	background-color: #03C04A;
}
