@font-face {
    font-family: 'jojos';
    src: url('../fonts/SF_Fedora_Shadow.ttf');
}

*{
    margin: 0;
    font-family:'jojos';
    cursor: url("../img/kqcursor.png"), auto;
}
.circle {
    height: 10px;
    width: 10px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
  }
html
{
    background: url(../img/kq.jpg);
    background-size: 100%;
    height: 100%;
}


header{
    margin: 0;
    height: 274.817px !important;
}

h1
{
    margin-top: 50px;
    text-align: center;
    font-size: 150px;
    color: white;
}

nav
 {
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 50px;
 }

 .cont_menu
 {
    border: 5px solid black;
}

 .op
 {
    width: 250px;
    height: 100px;
    padding-top: 25px;
    float: left;    
}


 #opcion1
 {
    background-color: red;
 }
 #opcion2
{
    background-color: yellow;
}

.red
{
    width: 50%;
}

.imgsop
{
    margin-left: 23%;
    transition: 2s;
}

.imgsop:hover
{
    transform: scale(1.2);
}

iframe
{
    width: 75%;
    height: 100%;
    margin-left: 10%;
}

#opcion3
{
    background-color: green;
}
#opcion4
{
    background-color: blue;
}



h2
{
    text-align: center;
    background-color: aliceblue;
    box-shadow: 1px 1px 1px 2px #ca11c7;
}

.historia
{
    width: 50%;
    margin-left: 25%;
    color: white;
    background-color: purple;
}


td, th
{
    color: white;
    background-color: #290529;
    font-size: 300%;
}

.pjs
{
    width: 25%;
    margin-left: 25%;
}

#jcap
{
    height: 50000px;
}