html
{
	width: 100%;
	height: 100%;
}

body
{
	min-height: 100%;
	margin: 0;
	display: grid;
	grid-template-areas:
		"header header header header header header header"
		"main main main main main main aside"
		"footer footer footer footer footer footer footer";
	grid-gap: 1em;
	grid-template-rows: auto 100% auto;	
}
li
{
	float: left;
	list-style-type: none;
	margin-left: 0.2em;
}

header
{
	background-color: #03C04A;
	grid-area: header;
}

h1,h2,p
{
	text-align: center;
}


main{
	grid-area: main;
	height: 100%;
	background-color: #f0f;
}
aside
{
	grid-area: aside;
	background-color: #f0f;
}
.caja
{
	background-color: red;
	
}



footer
{
	grid-area: footer;
	background-color: #03C04A;
}
